html, body {
    height: 100%;

    background-color: $darkerb;
}

* {
    font-family: 'Poppins', sans-serif;
}

h2,
h3,
label, 
p {
    font-weight: 500;
}

.input-icon {
    width: 16px !important;
}

button {
    font-weight: 500 !important;
    color: $white !important;
}

.form-check-input {
    border-radius: $b-radius !important;

    &:checked {
        background-color: $primary !important;
        border-color: $primary !important;
    }

    &:focus {
        border-color: $primary !important;
        box-shadow: 0 0 0 0.25rem rgba($primary, $input-btn-focus-color-opacity) !important;    
    }
}

.form-control, .input-group-text {
    background: $darkglass !important;
    color: $white !important;
    margin: 0 !important;

    border: 0;
}

.form-control:invalid {
    box-shadow: unset !important;
}

.form-control:focus {
    border-right: 0;

    box-shadow: unset;
}

.form-floating {
    color: $white;
}

.alert {
    top: -56px;
    border: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    transition: all 0.4s;

    &.show-alert {
        top: 0;
    }
}

.alert-success {
    color: $white !important;
    background-color: $greenglass !important;
}

.alert-danger {
    color: $white !important;
    background-color: $redglass !important;
}

.alert-dismissible {
    padding-left: 3rem;
}

.btn-close {
    &:focus {
        box-shadow: none;
    }
}

.noclick {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999; /* or maybe higher */

    background-color: transparent;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    label {
        cursor: pointer;
        
        input {
            cursor: pointer;
        }
    }
}

/********/
/* LOGIN */
.index {
    display: flex; 
    text-align: center;
}

.bg-image {
    background-image: url(/assets/index.jpg);

    filter: blur(1.2rem);
    -webkit-filter: blur(1.2rem);

    height: 100%;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

    z-index: 0;
}

.form-login {
    background-color: $glass;
    display: flex;
    width: 100%;
    max-width: 400px;
    height: 450px;
    margin: auto;

    border-radius: $b-radius; //Redondo
    z-index: 1;

    h1 {
        color: $white;
    }

    div.container-fluid {
        position: relative;
        max-width: 330px;
        margin: auto;

        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.btn-group-index button {
    width: 50%;
}

.return {
    height: 42px;
    width: 42px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: $darkglass;
}

.return-wrapper {
    position: absolute;
    width: 100%;
    max-width: inherit;
    display: flex;
}

.alert {
    position: absolute;
    width: 100%;
}

/* LOGIN */
/********/

/********/
/* MENU */
.dash-toggler {
    display: none;
    z-index: 5000;

    position: absolute;
    width: 100%;
}

#toggler {
    border-radius: 0;
    border-bottom-left-radius: $b-radius;
    border-bottom-right-radius: $b-radius;

    i {
        -moz-transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        transition: all 0.5s linear;
    }

    i.up{
        -ms-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
}

.dashboard {
    width: 20vw;
    min-width: 250px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
    text-align: center;

    background-color: $glass !important;
    border-top-right-radius: $b-radius; //Redondo
    border-bottom-right-radius: $b-radius; //Redondo

    transition: top 0.7s;

    z-index: 1000;
}

.main-dash {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 2;

    color: $white;
}

.links {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.link {
    display: flex;
    flex-grow: 1;

    height: 100px;
    width: 100%;
    padding: 1rem 5rem;
    
    align-items: center;
    justify-content: center;

    color: $white;
    border-radius: 0;
    box-shadow: unset !important;

    cursor: pointer;
    transition: ease-in-out 0.5s;

    i, span {
        padding-right: 0.35rem;
        margin: 0;
    }

    &.active {
        background: $darkglass;
    }

    &:not(.btn-logout) {
        font-size: 1.5rem;
        
        &:hover {
            background: $darkglass;
            color: $white;
        }
    }
}

.btn-logout {
    padding: 1rem 1rem;
    border-bottom-right-radius: $b-radius;

    i {
        padding: 0rem 0.5rem
    }
}

.main {
    height: 100%;
    width: 100%;
    padding: 1rem;
    overflow: auto;
    z-index: 1;

    .row {
        align-items: center;
    }
}

.gpu-card {
    padding: 1rem;
    height: 32.3vh;
}

.gpu-card-info {
    width: 100%;
    height: 100%;
    border-radius: $b-radius;

    background: $darkglass;
}

.row {
    --bs-gutter-x: 0;
}
/*****************/
/* MEDIA QUERIES */
/* KEY FRAMES    */
/*****************/
@media (max-width: 700px) {
    .dashboard {
        position: absolute;
        top: -100%;
        height: 100%;
        width: 100%;
    }

    .dash-toggler {        
        display: grid;
    }

    .banner {
        justify-content: flex-end;
        flex-grow: 3;
    }

    .link {
        height: unset;
        border-radius: 0;
    }

    .main {
        padding-top: 48px;
    }
}
/********/
/* MENU */
/********/