html, body {
    height: 100%;
    background-color: $darkerb;
}

* {
    font-family: 'Poppins', sans-serif;
}

h2,
h3,
label, 
p {
    font-weight: 500;
}

.input-icon {
    width: 16px !important;
}

button {
    font-weight: 500 !important;
    color: $white !important;
}

.form-check-input {
    border-radius: $b-radius !important;
}

.form-check-input:checked {
    background-color: $primary !important;
    border-color: $primary !important;
}

.form-check-input:focus {
    border-color: $primary !important;
    box-shadow: 0 0 0 0.25rem rgba($primary, $input-btn-focus-color-opacity) !important;
}

.form-control, .input-group-text {
    background: $darkglass !important;
    color: $white !important;
    margin: 0 !important;

    border: 0;
}

.form-control:invalid {
    box-shadow: unset !important;
}

.form-control:focus {
    border-right: 0;

    box-shadow: unset;
}

.form-floating {
    color: $white;
}

/********/
/* LOGIN */
.index {
    display: flex; 
    text-align: center;
}

.bg-image {
    background-image: url(/assets/index.jpg);

    filter: blur(1.2rem);
    -webkit-filter: blur(1.2rem);

    height: 100%;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

    z-index: 0;
}

.form-login {
    background-color: $glass;
    display: flex;
    width: 100%;
    max-width: 400px;
    height: 450px;
    padding: 15px;
    margin: auto;

    border-radius: $b-radius; //Redondo
    z-index: 1;
}

.form-login div.container-fluid {
    max-width: 330px;
    margin: auto;
}

.form-login h1 {
    color: $white;
}

.btn-group-index button {
    width: 50%;
}

/* LOGIN */
/********/

/********/
/* MENU */
.dash-toggler {
    display: none;
    z-index: 5000;

    position: absolute;
    width: 100%;
}

#toggler {
    border-radius: 0;
    border-bottom-left-radius: $b-radius;
    border-bottom-right-radius: $b-radius;
}

#toggler i {
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.5s linear;
}

#toggler i.up{
    -ms-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.dashboard {
    width: 20vw;
    min-width: 250px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
    text-align: center;

    background-color: $glass;
    border-top-right-radius: $b-radius; //Redondo
    border-bottom-right-radius: $b-radius; //Redondo

    transition: top 0.7s;

    z-index: 1000;
}

.main-dash {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 2;

    color: $white;
}

.links {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.link {
    display: flex;
    flex-grow: 1;
    border-radius: 0;

    height: 100px;
    width: 100%;
    padding: 1rem 5rem;
    
    align-items: center;
    justify-content: center;

    color: $white;

    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.link:not(.btn-logout) {
    font-size: 1.5rem;
}

.link:not(.btn-logout):hover {
    background: $darkglass;
    color: $white;
}

.link.active {
    background: $darkglass;
}

.link i {
    padding-right: 0.35rem;
    margin: 0;
}

.link span {
    padding-left: 0.35rem;
    margin: 0;
}

.btn-logout {
    padding: 1rem 1rem;
    border-bottom-right-radius: $b-radius;
}

.btn-logout i {
    padding: 0rem 0.5rem
}

.main {
    width: 100%;
    padding: 1rem;
    overflow: auto;
    z-index: 1;
}

.gpu-card {
    padding: 1rem;
    height: 32.3vh;

    position: relative;
}

.gpu-card-info {
    width: 100%;
    height: 100%;
    border-radius: $b-radius;

    background: $darkglass;
}

.row {
    --bs-gutter-x: 0;
}
/*****************/
/* MEDIA QUERIES */
/* KEY FRAMES    */
/*****************/
@media (max-width: 700px) {
    .dashboard {
        position: absolute;
        top: -100%;
        height: 100%;
        width: 100%;
    }

    .dash-toggler {        
        display: grid;
    }

    .banner {
        justify-content: flex-end;
        flex-grow: 1;
    }

    .link {
        height: unset;
        border-radius: 0;
    }

    .main {
        padding-top: 48px;
    }
}
/********/
/* MENU */
/********/