//Theme-Colors
$theme-colors   : (
    "primary"   : #007CC7,
    "secondary" : #4DA8DA,
    "blue"      : #007CC7,
    "indigo"    : #796eff,
    "purple"    : #6f42c1,
    "pink"      : #e83e8c,
    "red"       : #dc3545,
    "orange"    : #e3240C,
    "yellow"    : #ffc107,
    "green"     : #21c87a,
    "teal"      : #2e9cca,
    "cyan"      : #17a2b8,
    "white"     : #EEFBFB,
    "darkerb"   : #12232E,
    "darkb"     : #203647 
);

//Variables
$primary:   map_get($theme-colors, 'primary'); 
$secondary: map_get($theme-colors, 'secondary'); 
$white:     map_get($theme-colors, 'white'); 
$lightb:    map_get($theme-colors, 'lightb'); 
$darkerb:   map_get($theme-colors, 'darkerb');
$darkb:     map_get($theme-colors, 'darkb');
$blue:      map_get($theme-colors, 'blue');       
$indigo:    map_get($theme-colors, 'indigo');
$purple:    map_get($theme-colors, 'purple');
$pink:      map_get($theme-colors, 'pink');
$red:       map_get($theme-colors, 'red');
$orange:    map_get($theme-colors, 'orange');
$yellow:    map_get($theme-colors, 'yellow');
$green:     map_get($theme-colors, 'green');
$teal:      map_get($theme-colors, 'teal');
$cyan:      map_get($theme-colors, 'cyan');

$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'style';