//Variables
$primary: #007CC7;
$secondary: #4DA8DA;
$darkerb: #12232E;
$darkb: #203647;
$white: #EEFBFB;
$glass: rgba(255, 255, 255, 0.404);
$darkglass: rgba(0, 0, 0, 0.404);

$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;

/*$border-radius: 1.5rem;
$border-radius-sm: 1.5rem;
$border-radius-lg: 1.5rem;*/// Redondo

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'style';